# Fisojo config example file

fisheye.feauth=<feusername>:<numbers>:<awesome_hash>
fisheye.projectId=<CR-TEAM>
fisheye.baseServerUrl=<fisheye_server_url>
fisheye.lastCrNumber=<the_number_of_the_last_CR>
fisheye.polling.frequency=<sleep_secs>

slack.webhookUrl=<webhook_generated_from_slack>
